html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.winebody {
  background: url('./images/pattern3.jpg') no-repeat fixed; 
  background-size: cover;
  overflow:hidden;
}

.cheesebody {
  background: url('./images/cheesebackground.jpg') no-repeat fixed; 
  background-size: cover;
  overflow:hidden;
}

.eebody {
  background: url('./images/eebackground.2jpeg.jpg') no-repeat fixed; 
  background-size: cover;
  overflow:hidden;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.header,
.footer {
  padding: 10px 10px;
  color: #444;
  text-align:right;
}

.header h1 {
  color:#fff;
  margin-right: 30px;
  padding: 0;
  font-size: 20px;
  text-transform: uppercase;
  display:inline;
}


.main h2 {
  color:#fff;
  margin: 0;
  padding: 10px 0px;
  font-size: 16px;
  text-transform: uppercase;
  float:left;
  display:inline;
}

.main ul,
.footer ul {
  padding: 10px 0px;
  margin: 0;
  list-style: none;
   float:right;
  text-align:right;
}

.main li {
  display: inline;
  text-align: center;
  font-size:10px;
}

.main li a {
  color:#fff;
  margin: 2px;
  text-align:right;
  float:right;
}

#button {
 text-decoration:none;
}

.container-contact {
  
  margin-top:10px;
  margin-right:40px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  background-color: #F16321;
  margin: 2px;
  color:#fff;
}


.typemenu a>h1:hover {
  color:black;
  text-decoration:none !important;
}

.typemenu a:hover {
  text-decoration:none !important;
}

.header a>h1:hover {
  color:black;
  text-decoration:none !important;
}

.header a:hover {
  text-decoration:none !important;
}

.eeh1 {
  
  color:green;
}
.nav>li>a.invisiblea {
  margin:0;
  padding:0;
}

.thumbnail {
  padding: 0;
  box-shadow:0px 2px 2px rgba(0,0,0,0.1); 
  border-radius:0px; 
  border:0px; 
}

.thumbnail img {
  width: 100%;
  display: block;
  height:23vh;
}  

.footer li {
  display: inline;
  margin-right: 40px;
}

.footer p {
  margin: 0;
}

.selected {
  border: 7px solid #F16321;
  
}

/*.winerow {*/
/*  height:28vh;*/
  
/*}*/

@media (max-width:986px) {
  
  
   body {
    
    overflow-y:scroll;
  }
  
  
.thumbnail img {
            /*width: 394px;*/
            width: 100%;
            height:auto;
            display: block;
        }
 
  body {
    
    overflow-y:scroll;
  }

            .row {
                margin-top: 0;
          }
            .img-responsive {
                margin-bottom: 20px;
            }
}

