html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: url('./images/pattern3.jpg') no-repeat fixed; 
  background-size: cover;
  overflow:hidden;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  
}

.header,
.footer {
  padding: 20px 10px;
  color: #444;
}

.header h1 {
  color:#fff;
  margin: 0;
  padding: 10px 0;
  font-size: 20px;
  text-transform: uppercase;
}

.header ul,
.footer ul {
  padding: 10px 0px;
  margin: 0;
  list-style: none;
}

.header li {
  display: inline;
  text-align: center;
  font-size:10px;
}

.header li a {
  color:#fff;
  margin: 2px;
}

#button {
 text-decoration:none;
}

.container-contact {
  
  margin-top:-60px;
  margin-right:40px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  background-color: #F16321;
  margin: 2px;
  color:#fff;
}

.thumbnail {
  padding: 0;
  box-shadow:0px 2px 2px rgba(0,0,0,0.1); 
  border-radius:0px; 
  border:0px; 
}

.thumbnail img {
  width: 100%;
  display: block;
}  

.footer li {
  display: inline;
  margin-right: 40px;
}

.footer p {
  margin: 0;
}

.selected {
  border: 10px solid #F16321;
}

/*.row {*/
/* height:50px; */
/*}*/

@media (max-width:500px) {
  
 img {
  width:100%; 
 }
 
  body {
    
    overflow:scroll;
  }

}

